
body{
  background-color:#f5f5f5;
}

.liked-icon {
    color: red;         /* Change color for liked state */
    font-weight: bold;
  }

  .unliked-icon {
    color: black;        /* Default color */
  }

.bkmk-icon {
    color: black; /* Change color for liked state */
    font-weight: bold;
}

.unbkmk-icon {
    color: black; /* Default color */
}


